h1 {
  margin: 0;
}

.content {
  background: blue;
  height: 35vh;
  width: 30%;
}

#parallax {
  width: 30%;
  background: red;
  background: url(http://www.verticalworld.net/school/programs/uploads/pics/program_108_1.jpg);
  height: 40vh;
}
